# DB
POSTGRES_USER=core_user
POSTGRES_PASSWORD=core_user_1234
POSTGRES_DB=core_db

DATABASE_URL=postgresql://core_db_user:pLabn_42c@db:5432/core_db?sslmode=disable
DATABASE_MIGRATION_URL=postgresql://core_db_user:pLabn_42c@db:5432/core_db?sslmode=disable&statement_timeout=5000&lock_timeout=2000&idle_in_transaction_session_timeout=1000

# Redis
REDIS_HOST=core_redis_container_dev
REDIS_PORT=6379
REDIS_PASSWORD=redis_password_1234

# App
PORT=8080
SERVER_READ_TIMEOUT=5s
SERVER_WRITE_TIMEOUT=10s
SERVER_IDLE_TIMEOUT=120s
