# DB
POSTGRES_USER=core_user
POSTGRES_PASSWORD=core_user_1234
POSTGRES_DB=core_db

DATABASE_URL=postgres://emilian:secret_pass@db:5432/billing?sslmode=disable

# Redis
REDIS_HOST=core_redis_container_dev
REDIS_PORT=6379
REDIS_PASSWORD=redis_password_1234

# App
PORT=8080
