# DB
POSTGRES_USER=core_user
POSTGRES_PASSWORD=core_user_1234
POSTGRES_DB=core_db

DATABASE_URL=postgresql://core_user:core_user_1234@db:5432/core_db?sslmode=disable
DATABASE_MIGRATION_URL=postgresql://core_user:core_user_1234@db:5432/core_db?sslmode=disable&statement_timeout=5000&lock_timeout=2000&idle_in_transaction_session_timeout=1000

# Redis
REDIS_HOST=go_test_redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password_1234

# App
PORT=8080
SERVER_READ_TIMEOUT=5s
SERVER_WRITE_TIMEOUT=10s
SERVER_IDLE_TIMEOUT=120s

# Skinport
SKINPORT_URL=https://api.skinport.com
SKINPORT_APP_ID=730
SKINPORT_CURRENCY=USD
SKINPORT_CACHE_TTL=3600 # 1 hour
SKINPORT_TIMEOUT=30
